*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: black;
    width: 100vw;
}
.title{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

.title_line{
   inline-size: 20px ;

}
.section{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.details{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.job{
    margin-bottom: 15px;
}
.person1{
   height: 60px;
    border-radius: 50%;
}

.btn_container{
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
  padding: 10px;
  border: none;
  border-radius: 3px;
}
button:active{
    background-color: rgb(88, 83, 83)  ;
}

button i{
    width: fit-content;
    
}

.random_btn{
    -top: 20px;
}